.sign-up {
  &__header {
    margin-bottom: 12px;
    padding: 0 12px;
    font-weight: 600;
    font-size: 18px;
    color: #4d505e;
  }

  &__content {
    display: flex;
    gap: 20px;
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
}